body {
  background-image: url("./assets/images/weather.jpeg");
  background-repeat: no-repeat;
}

figure {
  display: inline-block;
  width: 115px;
  background-color: lightblue;
  padding-top: 10px;
  border-radius: 3px;
  margin-top: 3px;
  margin-right: 20px;
  text-align: center;
}

h1 {
  text-align: center;
}

header {
  background-color: rgb(209, 121, 121);
}
nav > button {
  font-size: 1.25em;
  padding: 5px 12px;
  border: 0;
  border-radius: 3px;
  background-color: cadetblue;
  color: white;
}

nav {
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
}

label {
  font-size: 1.25em;
  font-weight: 500;
}

.marginator {
  margin-top: 16px;
}

input {
  padding: 3px 12px;
  border-radius: 3px;
  background-color: rgb(249, 253, 253);
}

nav,
main {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.weatherOverview {
  border: solid;
  border-width: 1px;
  border-color: rgb(185, 185, 185);
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.something {
  border: solid;
  border-width: 1px;
  border-color: rgb(185, 185, 185);
  background-color: rgba(95, 158, 160, 0.4);
}

.weatherIcons {
  padding-top: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

footer > button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  border-radius: 3px;
  background-color: white;
  color: dimgray;
  border-color: rgb(185, 185, 185);
  border-width: 1px;
}
