body {
  background-image: url("./assets/images/weather.jpeg");
  background-repeat: no-repeat;
}

figure {
  display: inline-block;
  width: 115px;
  padding-top: 10px;
  border-radius: 3px;
  margin-top: 3px;
  margin-right: 20px;
  text-align: center;
}

h1 {
  text-align: center;
  color: rgb(54, 88, 88);
}

header {
  background-color: transparent;
  background-image: linear-gradient(
    rgb(223, 201, 223),
    rgba(253, 227, 231, 0.01)
  );
  border-bottom: solid;
  border-width: 2px;
  border-color: rgb(165, 180, 180);
}
nav > button {
  font-size: 1.25em;
  padding: 5px 12px;
  border: 0;
  border-radius: 3px;
  background-color: cadetblue;
  color: white;
}

nav {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
}

label {
  font-size: 1.25em;
  font-weight: 500;
}

.margin {
  margin-top: 15px;
}

input {
  padding: 3px 12px;
  border-radius: 3px;
  border: none;
  background-color: rgba(255, 255, 255, 0.966);
}

nav,
main {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.weatherOverview {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.border {
  border: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(185, 185, 185);
  background-color: rgba(95, 158, 160, 0.45);
}

.weatherIcons {
  padding-top: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

footer > button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  border: solid;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.966);
  color: dimgray;
  border-color: rgb(185, 185, 185);
  border-width: 1px;
}
